<header id="HEADER">
  <div class="profile">
    <a class="remove-border-bottom js-ajax-handler" href="/index.html">
      <img class="profile_pic" src="/img/profile-img.jpg">
    </a>
    <h1 class="profile_tagline">
      I'm Max, a Front-End Developer in Fort Worth, TX.<br>
      I build web applications for brands using modern practices<br>
      and publish <a class="js-ajax-handler" href="/blog.html">articles on web design / development</a>.
    </h1>
  </div>
  <div class="contact">
    <a class="contact_links remove-border-bottom" href="https://github.com/maxgironcodes" target="_blank">
      <img src="/img/icon-github.svg">
    </a>
    <a class="contact_links remove-border-bottom" href="https://instagram.com/maxgironcodes" target="_blank">
      <img src="/img/icon-ig.svg">
    </a>
    <a class="contact_links remove-border-bottom" href="mailto:maxgironcodes@icloud.com">
      <img src="/img/icon-email.svg">
    </a>
    <a class="contact_links remove-border-bottom" href="#">
      <img src="/img/icon-rss.svg">
    </a>
  </div>
</header>
