<header id="HEADER">
  <div class="profile">
    <a class="remove-border-bottom" href="{{ site.url }}/index.html">
      <img class="profile_pic" src="{{ site.url }}/img/profile-img.jpg"></a>
    <h1 class="profile_tagline">
      I'm Max, a Front-End Developer in Fort Worth, TX.<br>
      I build web applications for brands using modern practices<br>
      and publish <a href="{{ site.url }}/blog.html">articles on web design / development</a>.
    </h1>
  </div>
  <div class="social">
    <a class="social_links remove-border-bottom" href="https://github.com/maxgironcodes" target="_blank">
      <img src="{{ site.url }}/img/icon-github.svg">
    </a>
    <a class="social_links remove-border-bottom" href="https://instagram.com/maxgironcodes" target="_blank">
      <img src="{{ site.url }}/img/icon-instagram.svg">
    </a>
    <a class="social_links remove-border-bottom" href="mailto:maxgironcodes@icloud.com">
      <img src="{{ site.url }}/img/icon-email.svg">
    </a>
    <a class="social_links remove-border-bottom" href="#">
      <img src="{{ site.url }}/img/icon-rss.svg">
    </a>
  </div>
</header>
