// Should strictly define dimensions and positions


#WRAPPER-WIDE {
  max-width: 1280px;
  margin: auto;
}

#WRAPPER-NARROW {
  max-width: 1080px;
  margin: auto;
}

#HEADER {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 22px;
  padding-right: 22px;
}

#BLOG,
#POST {
  padding-left: $gutter * 2;
  padding-right: $gutter * 2;
}

#FOOTER {
  padding-top: 25px;
  padding-bottom: 25px;
}
