// Should strictly define dimensions and positions


#WRAPPER {
  max-width: 1280px;
  margin: auto;
}

#HEADER {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 22px;
  padding-right: 22px;
}

#CONTENT .row:last-child .columns {
  padding-bottom: 0;
}

#FOOTER {
  padding-top: 25px;
  padding-bottom: 25px;
}
