.profile {
  max-width: 618px;
  margin: auto;
  text-align: center;

  &_pic {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    border: 5px solid white;
    margin: 0 auto;
    display: inline-block;
  }
  &_tagline {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 25px auto 45px;
    text-align: center;
    color: $c-blue;
  }
}

.social {
  text-align: center;

  &_links {
    width: 35px;
    height: 35px;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.browser {
  position: relative;
  display: block;

  &_content {
    color: black;
    background-color: white;
    padding: 35px;
  }
  &_title {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -0.08px;
    margin-bottom: 8px;
  }
  &_tags {
    font-size: 0.8rem;
    font-weight: 600;
    list-style: none;
    margin: 0 0 24px;
    padding: 0;

    li {
      display: inline-block;
      background-color: scale-color($c-blue, $lightness: 86%);
      border-radius: 6px;
      padding: 4px 10px;
      margin-right: 3px;
      margin-bottom: 8px;
    }
  }
  &_caption {
    line-height: 1.6;
  }
}

.card {
  width: 100%;
  color: black;
  border-top: 25px solid $c-blue;
  border-bottom: none;
  background-color: white;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  display: block;

  &:only-child {
    margin-bottom: 0;
  }
  &_title {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -0.08px;
  }
  &_date {
    font-size: 1rem;
    letter-spacing: 0.2px;
    width: 150px;
    margin-top: 6px;
  }
  &_caption {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 35px
  }
}

.post {
  width: 100%;
  padding: 30px;
  border-top: 25px solid $c-blue;
  background-color: white;

  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  &_title {
    font-size: 1.5rem;
  }
  &_info {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  &_time:before {
    font-size: 1rem;
    content: '\00B7';
    display: inline-block;
    margin: 0 3px;
  }
}

.copyright {
  font-size: 0.8rem;
  color: $c-blue;
  text-align: center;
  display: block;
}
