<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Max Giron, Front-End Developer</title>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
  </head>
  <body>
    <div id="WRAPPER">
      {% include profile.html %}
      <div id="CONTENT">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    <script src="/js/jquery-custom.min.js"></script>
    <script src="/js/ajax.js"></script>
  </body>
</html>
